border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
  
  
*
  unset all 

body
  font-family "Proxima Nova", Arial, sans-serif
  font-size 11px
  background #ECEEF4
  color #A5ABC5
    
button
  height 45px
  width 160px
  font-weight bold
  font-size 10px    
  border-style solid 
  border-color #C9D0E1  
  border-width 1px
  border-radius 5px
  color #6E768F
  background-color #F7F7FA
      
button:hover
  border-width 2px
  background-color #e7e7eA
      
.place-order
  color #fff
  border-color #57B5B2
  background-color #5FCAC6
  
.place-order:hover
  border-width 2px
  background-color #4FbAb6
  
      
.nav-button
  height 45px
  width 140px
  font-weight bold
  font-size 11px    
  border 1px solid #C9D0E1
  border-radius 5px
  color #C9D0E1
  background-color #ECEEF4
  text-align center
  line-height 45px
  

      
a:link
  text-decoration none
  color #6E768F
  font-weight bold
  font-style normal
  
a:visited
  color #6E768F
  
a:hover
  text-decoration underline
  
input[type=radio]
  display none
  
label
  margin 10px
  padding 4px
  border 1px solid #E8E9EE
  border-radius 5px
  background #F7F7FA
  display inline-flex
  align-items center
  justify-content center
  font-size 14px
  
input[type=radio]:checked + label
  padding 0px
  border 5px solid #76A7E1
  position relative
  
input[type=radio]:checked + label::after
  display block
  position absolute
  top -16px
  right -16px
  content "L"
  font-size 18px
  font-weight bold
  transform scaleX(-1) rotate(-45deg)
  width 28px
  height 28px
  border-radius 14px
  background #76A7E1
  color #fff
  text-align center
  line-height 26px
   

input[type=range] {
  -webkit-appearance none  
  width 350px
  z-index 0
  position relative
}
input[type=range]::before {
  margin-right -8px
  z-index 1
  position relative
  display block
  content ""
  width 8px
  height 8px
  border-radius 4px
  background #D6D8E2  
}
input[type=range]::after {
  margin-left -8px  
  z-index 1
  position relative
  display block
  content ""
  width 8px
  height 8px
  border-radius 4px
  background #D6D8E2
}
input[type=range]:focus {
  outline none
}

input[type=range]::-webkit-slider-runnable-track {
  width 100%
  height 8px
  cursor pointer
  animate 0.2s
  background #EFF0F5
  border-radius 4px  
}
input[type=range]::-webkit-slider-thumb {
  height 18px
  width 18px
  position relative
  z-index 2
  border-radius 10px
  background #EDBE76
  cursor pointer
  -webkit-appearance none
  margin-top -5px
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;  
  background: #EFF0F5;
  border-radius: 4px;
  position: relative;
  z-index: 0;
}
input[type=range]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 9px;
  background: #EDBE76;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-color: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #EFF0F5; 
  border-radius: 4px;  
}
input[type=range]::-ms-fill-upper {
  background: #EFF0F5;  
  border-radius: 4px;  
}
input[type=range]::-ms-thumb {
  height: 18px;
  width: 16px;
  position: relative;
  z-index: 2;
  border-radius: 9px;
  background: #EDBE76;
  cursor: pointer;
  margin-top: 0px;
  border-color: transparent;
}
input[type=range]:focus::-ms-thumb {
border-color: transparent;
}
input[type=range]:focus::-ms-fill-lower {
  background: #EFF0F5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #EFF0F5;
}

      
main
  max-width: 1020px
  padding-left 10px
  padding-right 10px
  margin-right auto
  margin-left auto
      
      
nav
  height 200px
  display flex
  justify-content space-between
  align-items center
        
        
  img
    height 100px
    width 100px
      
form
  color #6E768F
  background-color #fff
  border-style solid 
  border-color #C9D0E1  
  border-width 1px
  border-radius 5px
    
        
header
  display flex
  flex-wrap wrap
  align-items stretch
  border-bottom 2px solid  #E4E7F0
  
  table
    text-align left
    margin 5px
    font-size 11px
                              
  caption
    text-align left
    margin-top 5px
    margin-bottom 20px                
    font-weight bold
      
  tr
    height 20px
      
  tr:nth-child(1)
    height 25px            
      
  th, td
    width 100px
      
  th
    font-weight bold 
        
  h1, &
    font-size 11px 
    
  img
    width 20px
    height 20px
          
          
.summary
  flex 2.5
  padding 20px 30px 20px 30px
  display flex
                     
.icon
  margin 5px
  
.remove
  width 20px
  height 20px
  vertical-align middle
  margin-right 10px         
              
.main-buttons
  padding 20px
  flex 1
  display flex
  flex-direction column
  //justify-content space-around
    
  button
    margin-top 10px
            
            
.help
  padding 20px
  flex 1.5
  display flex
  
  .icon
    margin 10px
              
              // img
              //   width 20px
              //   height 20px           
              
  h1, address                
    font-weight bold
            
  a:nth-child(1)
    margin-right 10px  
              
              

.select
  display flex
  flex-direction column
  justify-content space-around
  align-items center
  margin-bottom 80px
          
  h1
    margin-top 80px
    font-weight normal
    
  .ts-wrap
    flex 1
    margin-top 30px
    display flex
    
    
    label
      width 250px
      height 180px
      flex-direction column
            
    img
      width 100px
      height 100px
  
  
          
ol
  counter-reset li
  display flex
  flex-wrap wrap
  
ol > li::before
  border 1px solid #6E7389          
  content counter(li) 
  counter-increment li
  position absolute 
  left -55px
  box-sizing border-box 
  width 40px
  height 40px
  border-radius 20px 
  margin-right 10px
  margin-top 5px              
  font-size 18px
  font-weight bold
  text-align center
  line-height 40px

ol > li
  position relative
  margin-left 60px
  margin-bottom 80px
  padding 4px 8px
  list-style none
  //border 1px solid #ff0           
    
li > h1
  font-weight normal
    
li > small
  margin-left 10px
  font-size 11px         

.upload
  flex 1 0 100%
    
  h1
    display inline
  
  button
    font-size 14px
    font-weight normal
    width 200px
    
  button, table
    margin-left 0px
    margin-top 40px
    
  table
    padding 20px 30px 20px 30px
    border-radius 5px
    border 1px solid #C9D0E1
    width 85%           
                    
    th,td
      width 180px
      height 30px
      border 1px solid #fff                
      
    td
      font-size 12px 
                     
    th:nth-child(1)
      width 300px
    th:nth-child(2)
      width 150px
    th:nth-child(3)
      width 250px
    th:nth-child(4)
      width 50px
        

        
.choose-lang
  flex 1 0 100%
  padding 0
                  
  select
    margin 20px 10px 20px 10px
    width 180px
    height 45px
    border-radius 5px
    text-align-last center
      
  .remove-lang
    width 20px
    height 20px
    vertical-align middle
    // margin-left -5px
    // margin-right 20px
    

  .choose-from, .choose-to
    display inline-block
    width 35px
    //border 1px solid #f00
    text-align right
      
.select-tone
  flex 1 0 30%
  width 300px
  .tone-wrap      
    display inline-flex
    flex-direction column
    justify-content space-around
    align-items center
    margin-top 30px 
      
    label
      width 200px
      height 40px
  
    img        
      width 20px
      height 20px
      margin-right 15px
      vertical-align middle
            
.how-urgent
  flex 1 0 40%
  width 100px
  
  input[type=range]
    margin-top 45px
    margin-left -20px
  
  ul
    -webkit-padding-start 0px
    width 400px
    margin-top 10px
    margin-left -40px
    display flex
    justify-content space-between
    list-style-type none
    font-weight bold
    
    li
      color #959CBA
    
    li:nth-child(2)
      color #EDBE76
      
  .timeline-info
    display flex
    flex-direction row
    align-items flex-start
    width 450px
    padding 0px 30px
    margin-top 50px
    margin-left -50px
    background #fff
    font-size 11px    
    
    h1, p      
      margin 20px 15px
    
    h1  
      font-size 11px
      text-transform uppercase
    b
      color #EDBE76
      text-transform uppercase    
    
    img      
      margin-top 15px
    
.card
  
  a
    font-weight normal
    text-decoration underline
      
  p 
    margin-top 40px
    margin-bottom 10px
    font-size 14px
    
  .register
    border 0px
    vertical-align middle
    background #fff
    display inline-block  
    font-size 11px
    font-weight bold
    margin-top 10px
    margin-right 20px
    
    h1
      font-size 11px
      margin 0px 5px
    
    input
      width 230px      
      border 1px solid #D1D4DC
      border-radius 3px
      margin-top 5px
      padding 12px 15px
      
    input[type=password]
      padding 3px 15px 3px 15px
      letter-spacing 6px 
      font-size 28px
    
  .card-wrap label
    width 200px
    height 100px
    
        
   
       
      

            
    
body > footer
  margin-top 50px
  height 200px
  background #111  


