border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  font 12px "Proxima Nova", Arial, sans-serif
  background #ccc
  color #222
  
  button
    color red
    height 0px
    padding 20px   
    border-width 1px
    border-radius 5px
  main
    width: 80%
    margin: auto
    
    nav
      
    



  footer  


