border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
  
border-bottom(style width color)
  border-bottom-style style  
  border-bottom-width width
  border-bottom-color color 

body
  font 12px "Proxima Nova", Arial, sans-serif
  background #ccc
  color #222
  
  button
    height 40px
    width 120px
    text-style bold    
    border-style solid 
    border-color #222  
    border-width 1px
    border-radius 5px
    
  main
    width: 1000px
    margin: auto
    
    nav
      margin 50px 0px 50px 0px
      display flex
      justify-content space-between
      align-items center
      
      img
        height 100px
        width 100px
    
    form
      background #eee
      border-style solid 
      border-color #888  
      border-width 2px
      border-radius 5px  
      
      header
        display flex
        height 150px
        align-items stretch
        border-bottom solid 2px #aaa
        
        .summary
          flex 2.5
          padding 20px
          display flex
                   
          .icon
            margin 10px
            
            img
              width 50px
              height 50px        
              
          table
            margin 10px
                        
            caption
              margin 10px
              text-align left
            
            tr  
              th
                margin 10px                
              td
                margin 10px            
            
        .main-buttons
          padding 20px
          flex 1
          display flex
          flex-direction column
          justify-content space-around
          
          
        .help
          padding 20px
          flex 1.5
          display flex
          
          .icon
            margin 10px
            
            img
              width 50px
              height 50px
                
          .help-text              
            address
              text-decoration bold
            

      section
        
      ol
        
      footer
    



  footer  


